.heroBody {
  height: calc(90vh - 10px);
  width: 100%;
}

.heroImg {
  height: 100%;
  width: 100%;
  background-image: url("./imges/background.jpg");
  background-size: cover;
  position: fixed;
  opacity: 0.6;
}

.heroText {
  padding: 10px;
  height: calc(100% - 60px);
  width: 50%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 10vh;
  position: relative;
}

