.grid-container {
  position: relative;
  top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto;
  width: 80%;
}

.grid-container input {
  height: 50px;
  padding: 0 25px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

.grid_item {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: solid black;
  border-radius: 25px;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
}

.grid_item:hover {
  scale: 105%;
}

.grid_item img {
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.row-toolsBar {
  display: flex;
  width: 100%;
}

.select-choich {
  margin-right: 30px;
}

.standard-basic {
  width: 30%;
  transition: all 1s;
}

.standard-basic:hover {
  width: 100%;
}
