* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}